#chessboard{
	
	height:800px;
	width:800px;
	display:grid;
	border:2px solid black;
	grid-template-columns:repeat(8,100px);
	grid-template-rows:repeat(8,100px);
	margin:0px auto;
}

#p{
	text-align:center;
	font-size:40px;
	margin:0px auto;
	text-shadow:0px ,0px,12px,4px,red;
	background:yellow;
	height:40px;
	width:900px;
	border-radius:50px;
	margin-bottom:30px;
	
}
 .title
 {
	 width:100px;
	 height:100px;
 }
 .black
 {
	 background:black;
 }
 .white
 {
	 background:white;
 }